@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    It Takes More Than Just One Happy Farmington Hills Customer to Earn the Trust of Drivers Throughout Novi, Livonia, Westland and Detroit
    It Takes a Dynamic Team Just Like the One at Lafontaine Volvo Cars of Farmington Hills

    At LaFontaine Volvo Cars of Farmington Hills, we're dedicated to earning your business again and again. The first time you walk through our doors could be to browse our selection of used cars. Or, perhaps you'll stop by to trade an older model for a brand new 2017-2018 Volvo vehicle.

    Our sales staff and our auto financing team have the bar set at the top rung every time, so you can count on finding a loan or lease option that puts the Volvo S60, V60, XC60, XC70 or XC90 of your dreams in your driveway, on your terms.

    When you're ready to return to our Farmington Hills dealership for regular car service and maintenance, we'll be ready to perform whatever work your vehicle requires. And when you're in the market for auto parts, we're ready to assist in whatever D-I-Y projects you have going on under the hood of your car.

    Finally, after a few years on the road, when you're ready to start the process up again, you'll walk right back through those doors to have a few familiar faces help you out.

    For more information about our full range of services stop into our showroom at 24730 Haggerty Rd Farmington Hills, Michigan and we'd be happy to assist you with all of your automotive needs.
</p>
