@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Desislav Arashev:</strong>   <a href="https://github.com/desislavAr">https://github.com/desislavAr</a><br />
</address>